@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=checkbox] {
  -border-radius: 4px;
  height: 30px;
  width: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

input[type="checkbox"]:checked {
  background: rgb(7, 66, 98);
  margin:0px;
  position: relative;
}

.map-container {
  border: 1px solid black;
}

.ligne {
  display: flex;
  
}
